<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site list</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div class="header">
    <div class="title">Crawler</div>
    <div class="search-container">
        <form onsubmit="submitForm(event)">
            <input type="text" id="searchInput" placeholder="Search content">
            <button type="submit" class="search-button">
                <img src="/search.png" alt="Search" />
            </button>

        </form>

        <script>
            function submitForm(event) {
                event.preventDefault();
                const searchPhrase = document.getElementById("searchInput").value;
                if (searchPhrase) {
                    window.location.href = `/search/${encodeURIComponent(searchPhrase)}`;
                }
            }
        </script>

    </div>
</div>

<div class="site-list" >
    <div class="site-item" th:each="site : ${sites}">
        <img th:src="${site.url} + '/favicon.ico'" alt="icon">
        <div class="site-info">
            <h2><a th:href="${site.url}" th:text="${site.title}" target="_blank"></a></h2>
            <div class="site-details">
                <span th:text="'Last scan date: ' + ${site.lastScanDate} + ' | Pages: ' + ${site.documentCount} + ' | '"></span>
                <a th:href="@{/pictures/{siteId}/{pageNumber}(siteId=${site.id}, pageNumber = 1)}" th:text="'Pictures: ' + ${site.pictureCount}"></a>
            </div>
        </div>
    </div>

    <div class="add-site" onclick="openPopup()">
        <span>+</span>
        <span>add new site</span>
    </div>
</div>

<div class="overlay" id="overlay" style="display: none;">
    <div class="popup">
        <h2>Add new site</h2>
        <input type="text" name="siteTitle" placeholder="site title" id="siteName">
        <input type="url" name="siteUrl" placeholder="https://example.com or example.com" id="siteUrl" oninput="validateUrl()">
        <p class="p"></p>
        <button id="addSiteButton" onclick="addSite()" disabled>Add site</button>
    </div>
</div>

<script>
    function validateUrl() {
        const siteUrl = document.getElementById("siteUrl").value;
        const addSiteButton = document.getElementById("addSiteButton");
        const errorMessageElement = document.querySelector('p');

        // Regular expression for validating URL with or without protocol
        const urlPattern = /^(https?:\/\/)?([a-zA-Z0-9\-]+\.)+[a-zA-Z]{2,}(\/)?$/;

        if (urlPattern.test(siteUrl)) {
            errorMessageElement.innerText = "";
            addSiteButton.disabled = false;
        } else {
            errorMessageElement.innerText = "wrong URL format";
            addSiteButton.disabled = true;
        }
    }


    function openPopup() {
        document.getElementById("overlay").style.display = "flex";
    }

    function closePopup() {
        document.getElementById("overlay").style.display = "none";
    }

    function addSite() {
        const siteName = document.getElementById("siteName").value;
        const siteUrl = document.getElementById("siteUrl").value;

        if (siteName && siteUrl) {
            fetch('/add-site', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ title: siteName, url: siteUrl })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error adding site');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        document.querySelector('p').innerText = data.error; // Отобразить сообщение об ошибке
                    } else {
                        closePopup();
                        document.getElementById("siteName").value = '';
                        document.getElementById("siteUrl").value = '';
                        location.reload(); // Перезагрузить страницу для обновления списка
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            alert("Please enter all fields");
        }
    }

    // Закрытие окна при клике на затемненный фон
    document.getElementById("overlay").addEventListener("click", function(event) {
        if (event.target === this) {
            closePopup();
        }
    });
</script>

</body>
</html>
